header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5em;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to bottom, blue, rgb(217, 2, 250));
  align-items: center;
}
